<%= form_for [@ticket, @comment], url: ticket_comment_path(@ticket.link_id), html: { multipart: true } do |f| %>
	<div class = "form-group">
		<%= f.cktext_area :body, class: "form-control", placeholder: "Add a comment" %>

	</div>
	<%= f.submit :update, class: "btn btn-primary"%>

<% end %>
