<%= form_for [commentable, Comment.new],url: new_ticket_comment_path(commentable.link_id),method: "get", html: { multipart: true } do |f| %>
	<div class = "form-group">
		<%= f.cktext_area :body, class: "form-control", placeholder: "Add a comment" %>
		<!--%= f.file_field :file %-->
	</div>
	<%= f.submit class: "btn btn-primary" %>

<% end %>
